.container {
	display: flex;
	flex-flow: row;

	justify-content: space-around; 
}

.name{
	flex-grow: 2;
}

.size{
	flex-grow: 1;

	text-align: right;

	margin-right: 1em;
}

.time{
	flex-grow: 0;

	text-align: right;

	margin-right: 1em;
}